*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E8D4CD;
}

.container {
    background-color: #FEF9F3;
    width: 1266px;
    height: 4072px;
    margin: 0 auto;
    margin-top: 72px;
    /* margin-bottom: 72px; */
    /* margin-left: 87px; */
    /* margin-right: 87px; */
}

.header {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    width: 1144px;
    height: 61px;
    padding-top: 26px;
    /* margin-bottom: 26px; */
    margin-left: 61px;
    /* margin-right: 61px; */
    justify-content: space-between;
    position: absolute;
}

.logo {
    width: 355px;
    height: 58px;
}

.logo-text {
    display: flex;
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    font-family: 'Fira Sans', sans-serif;
    color: #2D2019;
}

.purple-text {
    color: #BB04BB;
}

.main-nav {
    display: flex;
    width: 424px;
    height: 29px;
    /* gap: 32px; */
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

.main-nav ul li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    font-family: 'Ubuntu', sans-serif;
    color: #2D2019;
}

.auth-buttons {
    display: flex;
    width: 260px;
    height: 61px;
    gap: 8px;
    /* align-items: center; */
}

.btn-signup {
    width: 131px;
    height: 61px;
    border-radius: 20px;
    border: 1px solid #2D2019;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    gap: 16px;
    text-decoration: none;
    cursor: pointer !important;
}

.btn-signup span {
    display: flex;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28.8px;
    width: 83px;
    height: 29px;
    color: #2D2019;
}

.btn-signin {
    width: 121px;
    height: 61px;
    border-radius: 20px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 16px;
    background-color: #2D2019;
    text-decoration: none;
    box-shadow: 4px 8px 16px 0px #00000026;
    cursor: pointer;
}

.btn-signin span {
    width: 73px;
    height: 29px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.8px;
    color: #FEF9F3;
    font-family: 'Ubuntu', sans-serif;
}

.hero-text {
    width: 660px;
    height: 360px;
    padding-top: 172px;
    padding-left: 61px;
    gap: 16px;
    position: absolute;
}

.hero-bold-text {
    width: 660px;
    height: 230px;
}

.hero-bold-text span {
    font-size: 96px;
    font-weight: 500px;
    line-height: 115.2px;
    font-family: 'Fira Sans', sans-serif;
}

.hero-small-text {
    width: 660px;
    height: 114px;
}

.hero-small-text span {
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    font-family: 'Ubuntu', sans-serif;
}

.hero-buttons {
    display: flex;
    width: 653px;
    height: 61px;
    padding-top: 572px;
    margin-left: 65px;
    gap: 24px;
    position: absolute;
}

.hero-first-button {
    width: 241px;
    height: 61px;
    border-radius: 20px;
    padding-left: 24px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    background-color: #2D2019;
    text-decoration: none;
    box-shadow: 4px 8px 16px 0px #00000026;
    cursor: pointer;
}

.hero-first-button span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    font-family: 'Ubuntu', sans-serif;
    color: #FEF9F3;
}

.hero-second-button {
    width: 388px;
    height: 61px;
    border-radius: 20px;
    border: 1px solid #2D2019;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    text-decoration: none;
    cursor: pointer;
}

.hero-second-button span {
    width: 340px;
    height: 29px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #2D2019;
}

.hero-under-buttons-text {
    display: flex;
    width: 468px;
    height: 124px;
    padding-top: 693px;
    margin-left: 61px;
    gap: 40px;
    position: absolute;
}

.hero-under-buttons-first-text {
    width: 150px;
    height: 103px;
    gap: 16px;
}

.one-thousand {
    width: 150px;
    height: 58px;
}

.one-thousand span {
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    font-family: 'Fira Sans', sans-serif;
    align-items: center;
    color:#2D20194D;
}

.hero-under-buttons-image-text {
    width: 278px;
    height: 124px;
    gap: 16px;
}

.hero-under-buttons-image {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.hero-under-buttons-image img {
    width: 100%;
    height: 100%;
}

.hero-under-buttons-under-image-text {
    width: 278px;
    height: 58px;
    text-align: center;
}

.hero-under-buttons-under-image-text span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    font-family: 'Ubuntu', sans-serif;
    color: #2D2019;
    align-items: center;
}

.hero-right-image {
    width: 588px;
    height: 805px;
    padding-top: 95px;
    margin-left: 721px;
    position: absolute;
}

/* .spacer {
    display: flex;
}

.spacer hr {
    border: 5px solid #E8D4CD;
    padding-top: 962px;
    margin-left: 85px;
    color: blue;
    position: absolute;
} */

.about-us-header {
    /* display: flex; */
    width: 197px;
    height: 58px;
    padding-top: 1036px;
    margin-left: 535px;
    position: absolute;
}

.about-us-header h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 57.6px;
    font-family: 'Fira Sans', sans-serif;
    color: #2D2019;
    align-items: center;
    justify-content: center;
}

.about-us-text {
    width: 1144px;
    height: 173px;
    padding-top: 1126px;
    padding-left: 61px;
    position: absolute;
}

.about-us-text span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    font-family: 'Ubuntu', sans-serif;
}

.why-choose-us-section {
    width: 1144px;
    height: 858px;
    padding-top: 1419px;
    margin-left: 61px;
    gap: 32px;
    position: absolute;
}

.why-choose-us-header {
    width: 1144px;
    height: 58px;
}

.why-choose-us-header h2 {
    display: flex;
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Fira Sans', sans-serif;
}

.why-choose-us-header span {
    color: #BB04BB;
}

.why-choose-us-image-gallery {
    width: 1144px;
    height: 768px;
}

.why-choose-us-first-image-container {
    width: 361px;
    height: 672px;
    padding-top: 90px;
    gap: 24px;
    position: absolute;
}

.why-choose-us-first-image {
    width: 361px;
    height: 450px;
    border-radius: 16px;
    box-shadow: 4px 8px 16px 0px #00000026;
}

.why-choose-us-first-image img {
    width: 361px;
    height: 450px;
    border-radius: 16px;
}

.why-choose-us-first-text {
    width: 361px;
    height: 198px;
    gap: 16px;
}

.why-choose-us-first-text-header {
    width: 361px;
    height: 34px;
}

.why-choose-us-first-text-header h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    font-family: 'Fira Sans', sans-serif;
    color: #2D2019;
}

.why-choose-us-first-text-body {
    width: 361px;
    height: 148px;
}

.why-choose-us-first-text-body span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    font-family: 'Ubuntu', sans-serif;
    color: #2D2019;
}

.why-choose-us-second-image-container {
    width: 362px;
    height: 672px;
    padding-top: 186px;
    margin-left: 391px;
    gap: 24px;
    position: absolute;
}

.why-choose-us-second-image {
    width: 362px;
    height: 450px;
    border-radius: 16px;
    box-shadow: 4px 8px 16px 0px #00000026;
}

.why-choose-us-second-image img {
    width: 362px;
    height: 450px;
    border-radius: 16px;
}

.why-choose-us-second-text {
    width: 362px;
    height: 198px;
    gap: 16px;
}

.why-choose-us-second-text-header {
    width: 362px;
    height: 34px;
}

.why-choose-us-second-text-header h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    font-family: 'Fira Sans', sans-serif;
    color: #2D2019;
}

.why-choose-us-second-text-body {
    width: 362px;
    height: 148px;
}

.why-choose-us-second-text-body span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    font-family: 'Ubuntu', sans-serif;
    color: #2D2019;
}

.why-choose-us-third-image-container {
    width: 361px;
    height: 672px;
    padding-top: 90px;
    margin-left: 783px;
    gap: 24px;
}

.why-choose-us-third-image {
    width: 361px;
    height: 450px;
    border-radius: 16px;
    box-shadow: 4px 8px 16px 0px #00000026;
}

.why-choose-us-third-image img {
    width: 361px;
    height: 450px;
    border-radius: 16px;
}

.why-choose-us-third-text {
    width: 361px;
    height: 198px;
    gap: 16px;
}

.why-choose-us-third-text-header {
    width: 361px;
    height: 34px;
}

.why-choose-us-third-text-header h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    font-family: 'Fira Sans', sans-serif;
    color: #2D2019;
}

.why-choose-us-third-text-body {
    width: 361px;
    height: 148px;
}

.why-choose-us-third-text-body span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    font-family: 'Ubuntu', sans-serif;
    color: #2D2019;
}

.shop-with-us-section {
    width: 1144px;
    height: 621px;
    padding-top: 2397px;
    margin-left: 60px;
    gap: 32px;
    /* position: absolute; */
}

.shop-with-us-header {
    width: 1144px;
    height: 58px;
}

.shop-with-us-header h2 {
    display: flex;
    font-size: 44px;
    font-weight: 500;
    line-height: 57.6px;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 auto;
    color: #2D2019;
}

.shop-with-us-header span {
    color: #BB04BB;
}

.shop-with-us-image-gallery-container {
    width: 1144px;
    height: 531px;
    gap: 64px;
}

.shop-with-us-image-gallery {
    width: 1144px;
    height: 406px;
}

.shop-with-us-first-image-container {
    width: 263.77px;
    height: 358px;
    padding-top: 48px;
    gap: 24px;
    position: absolute;
}

.shop-with-us-first-image {
    width: 263.77px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 4px 8px 16px 0px #00000026;
}

.shop-with-us-first-image img {
    width: 264px;
    height: 300px;
    border-radius: 16px;
}

.shop-with-us-header {
    width: 263.77px;
    height: 34px;
}

.shop-with-us-header h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    font-family: 'Fira Sans', sans-serif;
    color: #2D2019;
}

.shop-with-us-second-image-container {
    width: 263.77px;
    height: 358px;
    margin-left: 292.74px;
    gap: 24px;
    position: absolute;
}

.shop-with-us-second-image {
    width: 264px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 4px 8px 16px 0px #00000026;
}

.shop-with-us-second-image img {
    width: 264px;
    height: 300px;
    border-radius: 16px;
}

.shop-with-us-third-image-container {
    width: 263.77px;
    height: 358px;
    padding-top: 48px;
    margin-left: 586.49px;
    gap: 24px;
    position: absolute;
}

.shop-with-us-third-image {
    width: 263.77px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 4px 8px 16px 0px #00000026;
}

.shop-with-us-third-image img {
    width: 264px;
    height: 300px;
    border-radius: 16px;
}

.shop-with-us-fourth-image-container {
    width: 263.77px;
    height: 358px;
    margin-left: 880.23px;
    gap: 24px;
}

.shop-with-us-fourth-image {
    width: 263.77px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 4px 8px 16px 0px #00000026;
}

.shop-with-us-fourth-image img {
    width: 264px;
    height: 300px;
    border-radius: 16px;
}